.top-red-box {
  position: relative;
  height: 100px;
  width: 400px;
  background: #ff0000;
}
.white-rectangle {
  background: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
/* mini-squareをまとめて形成する。クラス追加 */
.square-parents {
  display: flex;
  padding: 5px;
}
.mini-square {
  flex: 1;
  height: 40px;
  width: 40px;
  background: #a9004b;
  margin: 5px;
}

.left-green-box {
  float: left;
  width: 150px;
  height: 250px;
  background: #00ff51
}

.right-brown-box {
  position: relative;
  float: left;
  width: 250px;
  height: 250px;
  background: #8c2727;
}
/* mini-rectangleをまとめて形成する。クラス追加 */
.rectangle-parents {
  padding: 40px;
}
.mini-rectangle {
  height: 40px;
  width: 140px;
  background-color: #ff863f;
  border: solid#ffffff 5px;
  margin-bottom: 10px;
  /* position: absolute; */
}

.footer-yellow-box {
  clear: left;
  height: 100px;
  width: 400px;
  background: #ffd000;
}
